*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

header{
    width: 100vw;
    height: 12vh;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #fff;
}

.pre-header{
    height: 33%;
    width: 100vw;
    background-color: #703D35;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.pre-header a{
    font-family: 'Inter', sans-serif;
    color: #EADEDD;
    font-size: 0.9rem;
    text-decoration: none;
}

.languages, .log-sgnup{
    display: flex;
    margin-right: 5vw;
    justify-content: center;
}

.vertical-line{
    width: 1px;
    margin: 0 1vh;
    background-color: #EADEDD;
}

.pre-header a:hover{
    text-decoration: underline;
}

.header{
    width: 100vw;
    height: 67%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .logo{
    font-family: 'Rufina', serif;
    font-size: 2rem;
    font-weight: bold;
    width: 10%;
    color: black;
    text-decoration: none;
    text-align: center;
}

.menu{
    display: flex;
    width: 40%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
}

.menu li{
    list-style-type: none;
}

header .menu a {
    text-decoration: none;
    color: black;
    transition: all 0.5s ease-in;
}

header .menu a:hover {
    color: #703D35;
    font-weight: 500;
}

.header-icons{
    display: flex;
    width: 10%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.header-icons .icon{
    width: 10%;
    height: 40%;
}

.header-icons .icon:hover{
    cursor: pointer;
}

.header-icons img{
    height: 100%;
}

footer{
    width: 100vw;
    height: 43vh;
    background-color: #703D35;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
}

footer .menu{
    height: 20%;
    margin-top: 1%;
    border-bottom: 1px solid #EADEDD;
}

footer .menu a{
    color: #EADEDD;
    text-decoration: none;
}

.horizontal-line{
    height: 1px;
    background-color: #EADEDD;
}

footer p{
    width: 65%;
    height: 20%;
    text-align: center;
    color: #EADEDD;
    font-size: 1.1rem;
}

footer label, .contacts-container label{
    width: 20%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #EADEDD;
}

#email-box{
    width: 100%;
    height: 90%;
    background: none;
    border: none;
    color: #EADEDD;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}

#email-box::placeholder{
    color:#EADEDD;
}

#email-box:focus{
    outline: none;
}

footer label img, .contacts-container label img{
    width: 8%;
    margin-left: 3%;
}

footer label img:hover, .contacts-container label img:hover{
    cursor: pointer;
}

footer .copyrights{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    width: 14vw;
    padding: 0 3vh;
    height: 5vh;
    background: none;
    border: 1px solid white;
    color: white;
    font-family: 'Inter', sans-serif;
    transition: all 0.2s ease-in-out;
}

.btn a{
    color: #000;
    text-decoration: none;
}


.btn:hover{
    cursor: pointer;
    background-color: #703D35;
    border: none;
}

.btn:hover a{
    color: #EADEDD;
}

.bold{
    font-weight: 600;
    text-decoration: underline;
}

.hidden{
    display: none !important;
}


#big-shopping-cart, #favourites {
    position: fixed;
    top: 50%;
    right: -40vw;
    transform: translateY(-50%);
    width: 40vw;
    height: 100vh;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease-in-out;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}



#big-shopping-cart > div:first-child, #favourites > div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-family: 'Inter', sans-serif;
    /* border-bottom: 1px solid #000; */
    width: 60%;
    margin-top: 5vh;
}

#cart-close-button, #fav-close-button {
    position: absolute;
    top: 0;
    right: 10px;
    padding: 5px;
    background: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transform: rotateY(0deg) rotate(45deg);
    font-size: 2.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 2;
}

#shopping-cart, #fav, #wish, #o{
    display: flex;
    flex-direction: column;
    /* height: 80%; */
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    justify-content: space-around;
}

#shopping-cart, #fav, #wish, #o{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 2vh;
}

.cart-product-box{
    width: 85%;
    height: 25vh;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    filter: drop-shadow(3px 3px 10px #c4c4c4);
    background-color: rgb(245, 245, 245);
    align-items: center;
    margin-top: 5vh;
}


.cart-image-box{
    width: 25vh;
    height: 25vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 2vw;
}

.cart-text{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.cart-prod-name{
    font-family: 'Rufina', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 3vh;
}

.fav-text{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fav-prod-name{
    font-family: 'Rufina', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    width: 90%;
    margin-bottom: 2vh;
}

.cart-price{
    font-family: 'Inter', serif;
    font-size: 1.2rem;
    height: 30%;
}

#remove{
    position: absolute;
    top: 0px;
    right: 1vh;
    /* padding: 5px; */
    background: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transform: rotateY(0deg) rotate(45deg);
    font-size: 2.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    width: 3vw;
}

#shopping-cart > p:first-child, #fav > p:first-child{
    margin: 5vh 0;
}

.total-price{
    font-family: 'Inter', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    margin: 4vh 0;
}

.fav-button{
    position: absolute;
    right: 3vh;
    top: 2vh;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #fff;
}

.cart-product-box:last-child{
    margin-bottom: 5vh;
}

#wish .btn{
    border: 1px solid #703D35;
}

.da-btn{
    color: #703D35;
    border-color: #703D35;
    margin-top: 1vh;
}

.da-btn:hover{
    background-color: #703D35;
    color: #fff;
}

#o > p:first-child{
    font-family: 'Inter', serif;
    font-size: 0.8rem;
    margin: 5vh 0;
}

.error {
    border: 1px solid red;
}

#log_out{
    border: none;
    background: none;
    font-family: "Inter", sans-serif;
    color: #EADEDD;
}

#log_out:hover{
    cursor: pointer;
    text-decoration: underline;
}

.profile-container #log_out{
    color: #000;
}

.product-box .btn, #shopping-cart .btn{
    color: #703D35;
    border-color: #703D35;
    margin-bottom: 3vh;
}

.product-box .btn:hover, #shopping-cart .btn:hover{
    background-color: #703D35;
    color: white;
}

.banner{
    width: 100vw;
    height: 70vh;
    background-image: url("../img/banner.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12vh;
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.banner div{
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}

.dancing-script{
    font-family: 'Dancing Script', cursive;
}

.rufina{
    font-family: 'Rufina', serif;
}

.inter{
    font-family: 'Inter', sans-serif;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.banner .dancing-script{
    font-size: 2.5rem;
    animation: slideInFromLeft 1s ease-in-out;
}

.banner .rufina{
    font-size: 3.5rem;
    margin-bottom: 2%;
    animation: slideInFromLeft 1s ease-in-out;
}

.banner .btn{
    animation: slideInFromLeft 1s ease-in-out;
}

.banner .btn a{
    color: #fff;
}

.banner .btn:hover{
    background-color: #F1F1F1;
}

.banner .btn:hover a{
    color: #703D35;
}

.whats-new{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F1F1F1;
    animation: fadeIn 1s ease-in;
}

.whats-new h3{
    font-size: 2rem;
    font-weight: 700;
}

.whats-new > div{
    width: 80%;
    height: 65%;
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.whats-new > div > div{
    width: 27%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.flip-card{
    width: 350px;
    height: 200px;
    perspective: 1000px;
    background-color: transparent;
}

.flip-card-inner{
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    position: relative;
}

.flip-card:hover .flip-card-inner{
    transform: rotateY(-180deg);
}

.front-card, .back-card{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    -webkit-backface-visibility: hidden;
}

.front-card{
    width: 100%;
    filter: drop-shadow(3px 3px 10px #9f9f9f);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.flip-card:nth-child(1) .front-card{
    background-image: url(../img/ring.svg);
}

.flip-card:nth-child(2) .front-card{
    background-image: url(../img/ring2.svg);
}

.flip-card:nth-child(3) .front-card{
    background-image: url(../img/ring3.svg);
    background-size: 135%;
    background-position: center center;
}

.back-card{
    background-color: #703D35;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(3px 3px 10px #9f9f9f);
}

.back-card p{
    width: 60%;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #F1F1F1;
    text-align: center;
}

.front-card p:first-child{
    color: #703D35;
    border-bottom: 1px solid #703D35;
    width: 80%;
    margin-bottom: 4%;
    margin-top: 5%;
    padding-bottom: 4%;
    font-family: 'Rufina', serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.front-card p:nth-child(2){
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.front-card p:nth-child(3){
    font-family: 'Rufina', serif;
    font-weight: 500;
    margin-top: 90%;
}


.home-page-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 270vh;
    width: 100vw;
    background-color: #F1F1F1;
    padding-bottom: 3%;
    animation: fadeIn 1s ease-in;
}

.home-page-container h3{
    font-size: 2rem;
    font-weight: 700;
}

.home-page-container .box{
    height: 50vh;
    width: 60vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.home-page-container .box .image{
    width: 60%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    transition: box-shadow 0.5s ease-in-out;
}

.home-page-container .box .image:hover{
    box-shadow: 1px 1px 20px gray;
}

.home-page-container .box:nth-child(2) .image{
    background-image: url(../img/home-ring.svg);
}

.home-page-container .box:nth-child(3) .image{
    background-image: url(../img/home-necklace.svg);
}

.home-page-container .box:nth-child(4) .image{
    background-image: url(../img/home-bracelet.svg);
}

.home-page-container .box:nth-child(5) .image{
    background-image: url(../img/home-earring.svg);
}

.home-page-container .box .description{
    width: 30%;
    height: 38%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    background-color: #F1F1F1;
    box-shadow: 1px 1px 10px gray;
    transition: box-shadow 0.5s ease-in-out;
}

.home-page-container .box .description:hover{
    box-shadow: 1px 1px 20px gray;
}

.home-page-container .box:nth-child(odd){
    flex-direction: row-reverse;
}

.home-page-container .box:nth-child(even) .description{
    left: 49%;
}

.home-page-container .box:nth-child(odd) .description{
    right: 49%;
}

.home-page-container .box .description p{
    font-size: 1.6rem;
    margin-bottom: 4%;
    font-weight: 500;
    margin-left: 3vw;
}

.home-page-container .box .description .btn{
    color: black;
    border: 1px solid black;
    font-weight: 500;
    font-size: 1rem;
    margin-left: 3vw;
}

.about-us-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12vh;
    background: #F1F1F1;
}

.about-us-container > div:first-child{
    width: 80vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.about-us-container > div:first-child > div:first-child{
    width: 33vw;
    height: 85vh;
    background: url(../img/about-us1.svg);
    background-position: center center;
    position: absolute;
    left: 10vw;
}

.about-us-container > div:first-child > div:first-child, .gr1, .gr2, .gr3, .gr4, .about-us-container > div:first-child > div:nth-child(2) > div{
    transition: box-shadow 0.5s ease-in-out;
}

.about-us-container > div:first-child > div:first-child:hover, .gr1:hover, .gr2:hover, .gr3:hover, .gr4:hover, .about-us-container > div:first-child > div:nth-child(2) > div:hover{
    box-shadow: 1px 1px 10px rgb(52, 52, 52);
}

.about-us-container > div:first-child > div:last-child{
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-us-container > div:first-child > div:last-child div{
    height: 85%;
    width: 100%;
    background-color: #703D35;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-us-container > div:first-child > div:last-child > p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    font-family: 'Rufina', serif;
    font-size: 2rem;
    font-weight: 600;
}

.about-us-container > div:first-child > div:last-child div p{
    width: 70%;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1.35rem;
    font-weight: 500;
    height: 40%;
    margin-left: 3vw;
}

.about-us-container > div:last-child{
    height: 100vh;
    width: 100vw;
    display: flex;
    margin-bottom: 10vh;
    justify-content: center;
}

.about-us-container > div:last-child > div:first-child{
    width: 50%;
    height: 100%;
    display: grid;
    gap: 7vh;
    grid-template-areas:
    'gr1 gr1 gr1 gr2 gr2'
    'gr1 gr1 gr1 gr2 gr2'
    'gr3 gr3 gr3 gr2 gr2'
    'gr3 gr3 gr3 gr4 gr4'
    'gr3 gr3 gr3 gr4 gr4';
}

.about-us-container > div:last-child > div:last-child{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-us-container > div:last-child div:last-child p{
    width: 70%;
    display: flex;
    justify-content: center;
    height: 50%;
    font-family: 'Inter', sans-serif;
    font-size: 1.35rem;
    font-weight: 500;
    margin-top: 10%;
}

.about-us-container > div:last-child > div:first-child div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.gr1{
    grid-area: gr1;
    background-image: url(../img/about-us-grid1.svg);
}

.gr2{
    grid-area: gr2;
    background-image: url(../img/about-us-grid2.svg);
}

.gr3{
    grid-area: gr3;
    background-image: url(../img/about-us-grid3.svg);
}

.gr4{
    grid-area: gr4;
    background-image: url(../img/about-us-grid4.svg);
}


.contacts-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12vh;
    background-color: #F1F1F1;
}

.contacts-container > div{
    width: 70%;
    border-bottom: 1px solid #000;
}

.contacts-container > div:first-child{
    height: 50vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.contacts-container > div p{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1.3rem;
}

.contacts-container > div > p:first-child{
    font-family: 'Rufina', serif;
    font-size: 2rem;
    font-weight: 600;
}

.contacts-container label{
    border-bottom: 1px solid #000;
    width: 30%;
    color: black;
}

.contacts-container #email-box{
    color: black;
}

.contacts-container #email-box::placeholder{
    color: #000;
}

.contacts-container > div:nth-child(2){
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5vh 0;
}

.contacts-container > div:nth-child(2) > div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.contacts-container > div:nth-child(3){
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5vh 0;
    margin: 2vh;
    border: none;
}

.contacts-container > div:nth-child(3) img{
    width: 3vw;
}

.login-container{
    background-color: #F1F1F1;
    margin-top: 12vh;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-container a{
    font-family: 'Inter', sans-serif;
    color: black;
    text-decoration: none;
    font-size: 0.9rem;
}

.login-container a:hover{
    text-decoration: underline;
}

.login-container .btn{
    border: none;
    background: #703D35;
    color: #fff;
}

.login-container input{
    border: 1px solid black;
    background: none;
    width: 30vw;
    height: 6vh;
    padding: 0 1vw;
}

.login-container input::placeholder{
    margin-left: 2vw;
}

.login-container p{
    font-family: 'Rufina', serif;
    font-size: 1.6rem;
    font-weight: 600;
}

.login-container > * {
    margin: 2vh 0;
}

.sign-up-container{
    height: 80vh;
}

.products-slider{
    width: 100vw;
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 12vh;
}


.slider {
    width: 80vw;
    height: 80vh;
    margin-top: 3vh;
    overflow: hidden;
}

.slides {
    width: 400vw; /* 500px * 5 slides */
    height: 100%;
    display: flex;
    transition: transform 0.9s ease-in-out;
}

.slides img {
    width: 80vw;
    height: auto;
}

.dots {
    position: absolute;
    bottom: 12vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    transition: opacity 0.9s ease-in;
}

.dots .dot {
    width: 3vw;
    height: 1vh;
    border-radius: 10px;
    background-color: #E7E7E7;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.9s ease;
}

.dot.active {
    background-color: rgb(156, 156, 156);
}

.products-container{
    width: 100vw;
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-container > p:first-child{
    font-family: 'Rufina', serif;
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 5vh;
    margin-bottom: 2vh;
}

.prod-box{
    display: grid;
    width: 80vw;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8vh 5vw;
    transition: box-shadow 0.6s ease-in-out;
}

.product-box:hover{
    box-shadow: 2px 2px 10px gray;
}

.product-box{
    height: 80vh;
    border: 1vh solid rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    filter: drop-shadow(3px 3px 10px #c4c4c4);
    background-color: rgb(245, 245, 245);
    align-items: center;
    justify-content: space-between;
}

.product-box .size{
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    /* margin-bottom: 1vh; */
}

.product-box input[type="radio"] {
    display: none;
}

.sizes{
    display: flex;
}

.product-box label {
    width: 4vh;
    height: 4vh;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
}

.product-box .btn, #shopping-cart .btn{
    color: #703D35;
    border-color: #703D35;
    margin-bottom: 3vh;
}

.product-box .btn:hover, #shopping-cart .btn:hover{
    background-color: #703D35;
    color: white;
}

.product-box input[type="radio"]:checked + label {
    border-color: blue;
}

.prod-name{
    font-family: 'Rufina', serif;
    margin-top: 2vh;
    font-size: 1.3rem;
    width: 70%;
    text-align: center;
    margin-bottom: 1vh;
}

.image-box{
    width: 100%;
    height: 65%;
    background-color: #000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.price{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin-bottom: 1vh;
}

.select-box{
    display: flex;
    justify-content: flex-end;
    width: 80vw;
    height: 10vh;
    align-items: center;
    margin-bottom: 3vh;
}


#page-nmb{
    height: 50%;
    width: 16%;
    background-color: #f1f1f1;
    border: 1px solid rgb(182, 182, 182);
    padding-left: 1%;
}

.pages{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.page-number-button{
    width: 3em;
    height: 3em;
    border-radius: 100px;
    margin: 0 1vw;
    border: none;
    font-family: sans-serif;
    font-weight: bold;
}

.page-number-button:hover{
    cursor: pointer;
    background-color: #e7e7e7;
}

.profile-container{
    width: 100vw;
    background-color: #F1F1F1;
    /* height: 100vh; */
    margin-top: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vh;
}

.profile-container > div:first-child{
    width: 80%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    border-bottom: 1px solid #000;
    font-family: 'Rufina', serif;
    font-size: 2rem;
    font-weight: 600;
}

.profile-container > div > div > button, .profile-container > div > button{
    font-family: 'Inter', sans-serif;
    border: none;
    background: none;
}

.profile-container > div > div > button:hover{
    cursor: pointer;
    text-decoration: underline;
}

.profile-container > div:nth-child(2){
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-container > div:nth-child(2) > div:nth-child(1){
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-container > div:nth-child(2) > div:nth-child(1) button{
    margin: 0 1vw;
}

.acc-details{
    width: 100%;
    height: 58vh;
}

.acc-details p{
    margin-bottom: 3vh;
    font-family: 'Inter', sans-serif;
}

.acc-details p:nth-child(odd){
    font-weight: 600;
    margin-top: 3vh;
}


.orders, .wishlist{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orders > p, .wishlist > p{
    margin-top: 3vh;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    /* margin-bottom: 5vh; */
}

.orders > p{
    margin-top: 5vh;
    margin-bottom: 3vh;
}

.wishlist > p:first-child{
    font-size: 1.5rem;
}

@media only screen and (max-width: 1200px){
    .menu{
        font-size: 0.9rem;
    }

    .header-icons{
        width: 15%;
    }
}

@media only screen and (max-width: 800px){
    .menu{
        font-size: 0.8rem;
        width: 50%;
    }

    .btn{
        width: 30vw;
    }

    .whats-new > div{
        height: 50%;
        width: 100%;
    }

    .whats-new > div > div > div p:first-child{
        font-size: 1.1rem;
    }

    .whats-new > div > div > div p:last-child{
        font-size: 0.9rem;
    }

    footer p{
        font-size: 0.9rem;
    }
    .prod-box{
        grid-template-columns: 1fr 1fr;
    }

    #page-nmb{
        width: 20vw;
    }

    .about-us-container > div:first-child > div:last-child div p{
        font-size: 0.9rem;
    }

    .about-us-container > div:last-child div:last-child p{
        font-size: 0.9rem;
    }

    .personalize-section input[type="radio"] + label{
        font-size: 0.8rem;
        padding-left: 6vw;
    }

    .personalize-section .stone-types input[type="radio"] + label{
        padding-left: 6vw;
    }

    .cart-product-box{
        display: flex;
        flex-direction: column;
        height: 60vh;
    }

    .cart-image-box{
        height: 60%;
        width: 80%;
        margin-top: 1vh;
    }

    .fav-text, .cart-text{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .cart-product-box button{
        width: 120%;
    }

    .home-page-container .box{
        width: 80vw;
    }
}
